@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {background-color: black;
        color: white;
        font-family: 'Inter';
    }
    thead{
        text-transform: uppercase;
    }
    a{
        color: royalblue;
    }
    .top{
        color: #322073;
        background-color: white;
    }
    em{
        color: #4f29d9;
    }
    #the_most_important{
        text-transform: uppercase;
        background-color: white;
    }
/* h1, h2 {
    font-family: Arial Black;
    text-align: center;
    }
    
p {
    font-family: comic sans MS, Arial;
    text-align: center;
    }
a{
    color: royalblue;
}
a:visited{
    color: lightblue;
}
footer{
    font-family: sans-serif;
} */
/*
to get childern of a node you use the parent space child
eg. nav li targets every list item of child nav*/
