@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {background-color: black;
        color: white;
        font-family: 'Inter';
    }
    thead{
        text-transform: uppercase;
    }
    a{
        color: royalblue;
    }
    .top{
        color: #322073;
        background-color: white;
    }
    em{
        color: #4f29d9;
    }
    #the_most_important{
        text-transform: uppercase;
        background-color: white;
    }
    h2{
        font-family: sans-serif;
    }
    h1, h2, h3, h4, h5, h6{
        text-transform: capitalize;
    }

    h2 + p::first-letter {
        font-size: x-large;
      }
      tr:hover{
        color: black;
        background-color: cornsilk;
      }
      nav li{
        display: inline;
      }
      nav ul li:first-child {
        text-decoration: underline royalblue;
      }
      nav ul li a{
        text-decoration: none;
        cursor: none;
      }
      table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
        color: black;
      }
      ::selection{
        color: white;
        background-color: #322073;
      }
      body a:not(.nav):hover {
        cursor: pointer;
      }
      input {
        height: 20px;
      }
      
      input[type="text"] {
        border-color: lightgray;
      }
      
      input[name="message"]{
        height: 50px;
      }
/*
a{
    color: royalblue;
}
a:visited{
    color: lightblue;
}
footer{
    font-family: sans-serif;
} */
/*
to get childern of a node you use the parent space child
eg. nav li targets every list item of child nav*/
