@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@media screen and (min-width: 769px) {

    /* #codingImage{
        content: "Ziyad G";
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 4rem;
        color: white;
        opacity: 0.5;
    } */
    
    /* #loader {
      border: 16px solid #f3f3f3; 
      border-top: 16px solid #3498db; 
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }  */

    header{
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }

    #Main_Title{
      color: var(--gray-dark-900, #F9FAFB);
      font-family: Inter;
      font-size: 5rem;
      font-style: normal; 
      font-weight: 700;
      line-height: 36px;
      letter-spacing: -0.6px;
      text-align: center;
    }
    #codingImage{
      width: 70rem;
    }
    #image_container{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #bar_spacing{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 0 0;
    }
    #rightbox{
        
        float: right;
    }
    #leftbox{
        float: left;
    }
    button{
      font-size: 1.75rem;
      color: rgba(255, 255, 255, 0.805);
      width: 8rem;
      height: 4.5rem;
      background-color: #4f29d9; 
    }
    .flexbox h2 {
        align-items: center;
        display: flex;
        justify-content: center;
    } 
    .flexbox{
        text-align: center;
    } 

    .flexbox > ul{
        display: inline-block;
    }
    button:hover{
      background-color: #542c75; 
      transition: background-color 1s ease-in;
    }
    .menu_icon {
      width: 3rem;
      position: relative;
      cursor: pointer;
    }
    .menu{
      list-style-type: none;
      padding: 0;
      margin: 0; 
      position: relative; 
    }
    .menu_item{
      position: absolute;
      top: 100%; 
      left: 0; 
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease 0.3s, visibility 0s linear 0.3s;    }
    nav:hover .menu_icon + .menu .menu_item{
      visibility: visible;
      opacity: 1;
      transition-delay: 0.3s;
    }

    
    .menu_icon{
      border-radius: 8px;
      display: flex;
      padding: 6px;
      border-radius: 8px;
      justify-content: center;
      align-items: center;
    }


    body {
      background-color: black;
      color: #D1D5DB;
      font-size: 1rem;
      font-family: Inter;
      font-weight: 400;
      line-height: 1.4rem;
      word-wrap: break-word;
        }
    thead{
        text-transform: uppercase;
    }
    a{
        color: royalblue;
    }

    h2{
        font-family: sans-serif;

    }
    h1, h2, h3, h4, h5, h6{
        text-transform: capitalize;
    }

    h2 + p::first-letter {
      font-size: 2rem;
      }
      /* article{
        display: block;
        justify-content: space-between;
      } */
    article h2{
      display: inline;
    }
    article .date{
      display: inline;
    }

      tr:hover{
        color: black;
        background-color: cornsilk;
      }
      nav li{
        display: inline;
      }
      nav ul li:first-child {
        text-decoration: underline royalblue;
      }
      nav ul li a{
        text-decoration: none;
        cursor: none;
      }
      table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
        color: black;
      }
      ::selection{
        color: white;
        background-color: #322073;
      }
      body a:not(.nav):hover {
        cursor: pointer;
      }
      input {
        height: 20px;
      }
      
      input[type="text"] {
        border-color: lightgray;
      }
      
      input[name="message"]{
        height: 50px;
      }
/*
a{
    color: royalblue;
}
a:visited{
    color: lightblue;
}
footer{
    font-family: sans-serif;
} */
/*
to get childern of a node you use the parent space child
eg. nav li targets every list item of child nav*/
}